html,
body,
.root {
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}
body,
.app {
  background: #fff;
}

::-moz-selection {
  color: white;
  background: #1a8adb;
}

::selection {
  color: white;
  background: #1a8adb;
}

.list-books-title {
  padding: 20px 0;
  background: #fff;
  text-align: center;
}

.list-books-title h1 {
  margin: 0;
  color: #333;
  letter-spacing: 0;
  text-transform: lowercase;
  font-size: 85px;
  line-height: 90px;
  padding-bottom: 15px;
  font-weight: 300;
  font-family: 'Abril Fatface', cursive;
}

.list-books-title h1 span {
  color: #1a8adb;
  font-size: 42px;
  padding-right: 8px;
}

/*  List Books
 */

.add-button a {
  display: block;
  background: #333;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  position: fixed;
  width: 60px;
  height: 60px;
  color: #fff;
  border: solid 10px;
  right: 58px;
  top: 58px;
  font-size: 0px;
}

.add-button a:hover,
.add-button a:focus,
.add-button a:active,
.book-shelf-changer:hover ,
.book-shelf-changer:focus,
.book-shelf-changer:active {
  background-color: #1a8adb;
  color: #fff;
}

.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

.bookshelf {
  padding: 0 10px 20px;
}

.bookshelf:nth-child(even) {
  background: rgba(242, 245, 247, .5);
}

.bookshelf-title {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
  padding: 20px 0 30px;
  color: #fff;
}

.bookshelf-title span {
  background: #333;
  border-left: solid 10px #1a8adb;
  padding: 5px 10px;
}

.bookshelf-books {
  text-align: center;
}

/*  Search Books
 */

.search-books-bar {
  width: 50%;
  margin: 0 auto;
  display: flex;
  border-bottom: solid 3px #333;
}

.search-books-input-wrapper {
  flex: 1;
}

.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 50px;
  background: #1a8adb;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  font-size: 0;
}

.search-books-results {
  padding: 80px 10px 20px;
}

.warning {
 text-align: center;
  text-transform: lowercase;
  color: #999;
  font-size: 13px;
  letter-spacing: 1px;
}

/*  Books grid
 */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.book {
  width: 140px;
}

.book-title,
.book-authors {
  font-size: 0.8em;
}

.book-title {
  margin-top: 10px;
}

.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.bookshelf {
  padding: 40px 0;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 25px;
  height: 25px;
  background: #333;
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}
.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/*  Book cover
 */

.book-cover {
  background: #eee;
  background-size: cover;
}
.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}

@media (min-width: 768px) {
  #root {
    border: solid 20px #333;
    min-height: 100vh;
  }
}

@media (max-width: 767px) {
  .add-button a {
    top: 0;
    right: 0;
    border: 0;
    width: 40px;
    height: 40px;
  }

  .list-books-title h1 {
    font-size: 50px;
    line-height: 60px;
    padding-bottom: 0;
  }

  .search-books-bar {
    margin-top: 30px;
    width: 100%;
  }
}